/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #282727;
}

/* banner css */
.banner{
    background-color:#000000 ;
}
.banner-title{
    height: 70vh;
    color: #FF5E19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-title h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}
.banner-title p{
    line-height: 25px;
}
/* players css */

.card-player {
    border: 1px solid #bbb;
    padding-bottom:30px;
    background-color: #000000;
  }
.card-body img{
    width: 100%;
    height: 204px;
}
  .total{
    color: #FF5E19;
    padding-left: 150px;

  }